/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Classic Container*/
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1070px;
}

/*Fluid Container*/
.container-fluid{
    width: 100%;
    max-width: 100%;
}