/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Classic Container*/
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1070px;
}

/*Fluid Container*/
.container-fluid{
    width: 100%;
    max-width: 100%;
}

/*Row*/

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[class*='col']{
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}

/*Auto Column*/

.col{
    flex-grow: 1;
}