/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Container*/
.container,
.container-fluid{
    border: 2px solid #000;
    min-height: 100px;
    margin: 0 auto;
}

/*Col*/
[class*='col']{
    border: 1px solid black;
    min-height: 200px;
    background-color: #aa616e;
}

.bg-r{
    background-color: #c25656;
}

